main {
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16/9;
}

iframe {
    width: 300%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    margin-left: -100%;
}