.music-bar-container {
    display: flex;
    align-items: center;
    width: 1080px;
    height: 115px;
    left: 25vw;
    background-color: #404040;
    bottom: 0;
    z-index: 3;
    position: absolute;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    color: #DDDDDD;
}

.close-player-btn {
    display: flex;
    position: absolute;
    top: 5px;
    right: 15px;
}

.ui-open {
    left: 10vw;
}
