.music-bar-container {
    display: flex;
    align-items: center;
    width: 1080px;
    height: 115px;
    left: 50%;
    transform: translate(-50%);
    background-color: #404040;
    bottom: 0;
    z-index: 5;
    position: absolute;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    color: #DDDDDD;
}

.close-player-btn {
    display: flex;
    position: absolute;
    top: 5px;
    right: 15px;
}

.ui-open {
    left: 5vw;
    transform: translate(0%);
}

.hide-player {
    height: 0;
    overflow: hidden;
    transition-property: height;
    transition-duration: 0.5s;
}

.open-player {
    height: 115px;
    transition-property: height;
    transition-duration: 0.5s;
}

@media only screen and (max-width: 1920px) {
    .music-bar-container {
        width: 880px;
    }
}