.spotify-playlist-container {
    width: 100%;
    height: 615px;
}

.close-playlist-btn {
    width: 25px;
    height: 25px;
    margin-left: 3%;
    margin-top: 1.5%;
}

.disabled {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.close-playlist-btn:hover {
    background-color: rgba(187, 187, 187, 0.2);
    border-radius: 50%;
}

.close-playlist-btn > img {
    width: 25px;
    height: 25px;
}

.main-container {
    width: 100%;
    height: 595px;
    overflow-y: scroll;
}

.playlist-title-section {
    width: 100%;
    padding-left: 3%;
    padding-top: 1.5%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.playlist-img-cover {
    width: 125px;
    height: 125px;
    background-color: #868686;
    border-radius: 15px;
}

.playlist-title-and-creator {
    align-items: center;
    justify-content: center;
}

.playlist-title-and-creator > h1{
    font-size: 78px;
    margin: 0;
    color: #DDDDDD;
}

.playlist-title-and-creator > p {
    margin: 0;
    font-size: 20px;
    color: #BBBBBB
}

.playlist-btn-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

.song-control-btn-group {
    display: flex;
    gap: 15px;
}

.song-control-btn {
    width: 48px;
    height: 48px;
}

.song-control-btn > img {
    width: 48px;
    height: 48px;
}

.pagination-btn-group {
    display: flex;
    gap: 10px;
    align-items: center;
    visibility: hidden;
}

.pagination-page {
    color: #DDDDDD;
    font-size: 28px;
}

.playlist-label-group {
    display: flex;
    width: 100%;
    gap: 150px;
    padding-left: 7%;
}

.playlist-label {
    font-size: 15px;
    color: #DDDDDD;
    margin: 0;
}

.artist-label {
    padding-left: 22%;
}

.album-label {
    padding-left: 5%;
}

.time-label {
    padding-left: 17%;
}

.playlist-label-linebreak {
    background-color: #FFF;
    width: 94%;
    height: 1px;
    margin-left: 3%;
}

.playlist-songs {
    list-style: none;
    padding-right: 3%;
}

.playlist-song-obj {
    width: 100%;
    height: 50px;
    background-color: #505050;
    border-radius: 10px;
    margin-bottom: 7px;
}

.playlist-song-obj:hover {
    background-color: #676767;
}

.active-song {
    background-color: #868686 !important;
}

.active-song-details {
    color: #fff !important;
}

.playlist-song-obj > button {
    width: 100%;
    height: 50px;
}

.playlist-song-obj-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
}

.playlist-song-details {
    color: #a6a6a6;
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.active-song-speaker {
    width: 28px;
    height: 28px;
    margin: 0;
}

.track-name {
    width: 32%;
}

.artist-name {
    width: 20%;
}

.album-name {
    width: 33%;
}

.time-name {
    width: 5%;
}

.playlist-song-number {
    color: #BBBBBB;
    font-size: .7vw;
    width: 3%;
    max-width: 3%;
    margin-right: 2px;
    text-align: center;
}

.playlist-song-img {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    margin-right: 2%;
}

@media only screen and (max-width: 1920px) and (max-height: 1080px) { 
    .playlist-label-group {
        gap: 115px;
    }

    .main-container {
        height: 410px;
    }

    .track-name {
        width: 30%;
    }

    .time-label {
        padding-left: 18%;
    }
}