.spotify-container {
    width: 100%;
    display: flex;
}

.music-player-sections {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    gap: 220px;
}

.now-playing-side {
    display: flex;
}

.now-playing-side > p {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 3px 0px 0px 4px;
}

.media-controls {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 1.5vh;
}

.media-controls > button > img{
    width: 48px;
    height: 48px;
}

.volume-controls {
    display: flex;
    padding-right: 1.5vw;
}

.song-info {
    display: flex;
    flex-direction: row;
    height: 95%;
    width: 440px;
    padding-left: 315px;
}

.song-info > img {
    width: 75px;
    position: absolute;
    height: 75px;
    top: 30px;
    left: 5px;
    border-radius: 5px;
}

.song-and-artist {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: start;
}

.song-and-artist > h2 {
    color: #DDDDDD;
    margin: 0;
    font-size: 34px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 320px;
}

.song-and-artist > h3 {
    color: #BBBBBB;
    font-size: 28px;
}

@media only screen and (max-width: 1920px) {
    .music-player-sections {
        gap: 145px;
    }

    .now-playing-side > p {
        font-size: 18px;
    }

    .song-info {
        width: 200px;
        padding-left: 0;
    }

    .song-and-artist > h2 {
        font-size: 28px;
        width: 230px;
    }

    .song-and-artist > h3 {
        color: #BBBBBB;
        font-size: 22px;
    }

    .media-controls {
        width: 42px;
        height: 42px;
    }
}