.ui-bar {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    height: 100%;
    background: rgba(134, 134, 134, 0.5);
    z-index: 3;
    margin: 0;
    padding: 0;
    right: 0;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.ui-bar-no-bg {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 515px;
    height: 100%;
    z-index: 3;
    margin: 0;
    padding: 0;
    right: 0;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.ui-bar-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1rem 3rem;
    height: 125px;
}

.ui-bar-header-no-bg {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1rem 3rem;
    height: 125px;
}

h2 {
    font-size: 28px;
    color: #DDDDDD;
}

img {
    width: 32px;
    height: 32px;
}

button {
    right: 0;
    all: unset;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.volume-control {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
    padding-left: 48px;
}

.button-array {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 5%;
    height: 100%;
    z-index: 10;
}