.video-selector {
    display: flex;
    width: 100%;
    padding-left: 3px;
}

select {
    width: 200px;
    height: 56px;
    font-size: large;
    border-color: none;
    background-color: #DDDDDD;
    min-height: 50px;
    max-height: 50px;
    border-radius: 10px;
}