.sound-button-and-slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
    padding-left: 0.5rem;
    position: inherit;
}

.UIBar > #volume {
    cursor: pointer;
    height: 8px;
    width: 140px;
    opacity: 0.8;
    outline: none;
    border-radius: 25px;
    accent-color: #676767;
}

.UIBar > #volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px; 
    height: 15px; 
    background: #DDDDDD;
    border-radius: 50%;
    cursor: pointer;
  }

#volume:hover {
    opacity: 1;
}

.MusicPlayer > #volume {
    cursor: pointer;
    height: 5px;
    width: 160px;
    opacity: 0.9;
    accent-color: #868686;
}