* {
    box-sizing: border-box;
    font-family: "Noto Sans Display", sans-serif;
    font-style: normal;
}

body {
    margin: 0;
    overflow: hidden;
    outline-style: none;
    user-select: none;
}